body {
  background-color: #d7d7d7;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}
body:after {
  content: '';
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  background-image: url("images/background.jpg");
  background-size: cover;
}
#top_button {
  z-index: 101;
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  height: 30px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.7);
  box-shadow: 5px 5px 3px 3px #000000;
  -webkit-box-shadow: 5px 5px 3px 3px #000000;
  -moz-box-shadow: 5px 5px 3px 3px #000000;
  -o-box-shadow: 5px 5px 3px 3px #000000;
}
#top_button p {
  margin: 4px;
  color: #f0f0f0;
  font-size: 16px;
  text-decoration: underline;
  font-family: Georgia, Garamond, serif;
}

#blank_space {
  height: 88px;
  opacity: 0;
  width: 100%;
}
#gallery_title {
  width: 80%;
  height: 500px;
  margin-left: 10%;
  margin-bottom: 0;
  text-align: center;
  line-height: 450px;
  background-color: #f0f0f0;
  background-image: url("images/gallery_title.jpg");
  background-size: cover;
  background-position: left top;
}
#gallery_title p {
  font-family: 'Leckerli One', 'Oleo Script', Georgia, Garamond, 'Book Antiqua', serif;
  font-size: 80px;
  color: #000000;
  text-shadow: 5px 5px 4px rgba(255,255,255,0.8);
  margin: 0;
}
#gallery_container { /* Contains all events */
  width: 80%;
  height: auto;
  margin-left: 10%;
  background-image: url("images/batik-background.jpg");
  background-repeat: repeat;
  border: none;
  box-shadow: 0px 0px 10px 10px #080808;
  -webkit-box-shadow: 0px 0px 10px 10px #080808;
  -moz-box-shadow: 0px 0px 10px 10px #080808;
  -o-box-shadow: 0px 0px 10px 10px #080808;
}

#event_container { /* Contains description and all pictures of that event */
  position: relative;
  width: 100%;
  height: auto;
  background: rgba(0,0,0,0.7);
  border-top: 1px solid #404040;
  margin: 0;
}
/* Event pictures container is static margined to the right, while event description is absolute and fixed */
#event_container .event_pictures_container { /* Contains only pictures */
  margin: 0 0 0 20%;
  padding: 0px 0px 45px 0px;
  width: 80%;
  height: auto;
  border-left: 1px solid #303030;
  text-align: center;
  z-index: 1;
}
/* Every event description has this class.
  z-index of every instance is different.
  Each instance is differentiated by id #edN */
#event_container .event_description_container {
  width: 20%; /* 20% of event_container */
  height: 100%; /* FIXED VERSION MUST BE A FIXED HEIGHT */
  margin: 0px;
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
  text-align: left;
  background-color: #b8b8b8;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  /* Position when absolute */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* overlaps event_pictures_container */
  /* Position when fixed:
  top: 45px;
  left: 10%;
  width: 16%;
  height: 100px;
  */
}
.event_description_container p {
  color: #181818;
  margin: 0;
  font-size: 15px;
  font-family: Georgia, Garamond, 'Book Antiqua', serif;
}
.event_description_container p.title {
  color: #181818;
  margin: 0;
  font-size: 20px;
  text-decoration: underline;
  font-family: Georgia, Garamond, 'Book Antiqua', serif;
}
/* TODO: When adding more event descriptions,
  add its #id here and its appropriate z-index */
.event_description_container #ed1 {
  z-index: 1;
}
.event_description_container #ed2 {
  z-index: 2;
}
.event_description_container #ed3 {
  z-index: 3;
}

.event_pictures_container h1 {
  width: 100%;
  height: auto;
  margin: 20px 0px 0px 0px;
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Merienda One', Georgia, Garamond, 'Book Antiqua', serif;
  text-shadow: 3px 2px 2px rgba(255, 255, 255, 0.6);
}

#thumb_container { /* SIZE MUST STAY FIXED. Contains each separate image */
  display: inline-block;
  width: 180px;
  height: 120px;
  margin: 25px 5px 0px 0px;
  position: relative;
  border: 1px solid #505050;
}

.thumb_picture_container {
  overflow: hidden;
}
.thumb_picture_container img {
  margin: 0;
  width: auto;
  height: 100%; /* THUMB IMAGES ARE FITTED BY HEIGHT */
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.thumb_picture_container#small { /* Will be removed and added */
  width: 180px;
  height: 120px;
  position: static;
  margin: 0;
  padding: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0);
}
.thumb_picture_container#small:after { /* for hover overlay */
  cursor: pointer;
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
  background-image: url("images/thumbs/zoom_w_180x120.png");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  z-index: 10;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.thumb_picture_container#small:hover:after {
  opacity: 1;
}
.thumb_picture_container#large {
  position: fixed;
  height: 80%;
  width: auto;
  max-width: 80%;
  left: 50%;
  top: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: rgb(136,136,136);
  background: rgba(136,136,136, 0.6);
  border: 2px solid #000000;
  z-index: 103;
}

#overlay { /* Dark baackground for large image view */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.6);
}
#overlay.hideoverlay {
  opacity: 0;
  z-index: -2;
}
#overlay.viewoverlay {
  opacity: 1;
  z-index: 102;
}

#copyright {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: auto;
  font-size: 15px;
  font-family: Verdana, Tahoma, Helvetica;
  color: #f0f0f0;
  text-align: left;
  z-index: 99;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.6);
}
#copyright p {
  margin: 10px;
}

