body {
	background-color: #d7d7d7;
	margin:0;
}

#about-us {
	float: left;
	background-color: #e8e8e8;
	width: 100%;
	margin-top: 0px;
	padding-top: 38px;
	padding-bottom: 38px;
	/*position: absolute;*/
	text-align: center;
	z-index: 1;
}
#about-us h1 {
	font-size: 30px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
	color: #333333;
	margin-bottom: 20px;
}
#about-us p {
	font-size: 18px;
	font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #333333;
	line-height: 120%;
}

#recent_events {
	float: left;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 1;
	text-align: center;
}
#recent_events h2 {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 0px;
}
div.img_container {
	margin: 30px 40px 30px 40px;
	padding-bottom: 1em;
	border: 1px solid #909090;
	border-radius: 15px;
	width: 400px;
	display: inline-block;
	background-color: 
}
div.img_container img {
	/* NOTE: All image thumbnails must have the same size */
	width: 100%;
	height: auto;
	border-radius: 15px 15px 0px 0px;
}
div.event_desc {
	padding-left: 10px;
	text-align: left;
}

/*
#ft {
	position: absolute;
	clear: both;
	font-size: 13px;
	font-family: Verdana, Tahoma, Helvetica;
	color: #000000;
	z-index: 99;
}
*/

/*
PERMIAS (Persatuan Mahasiswa Indonesia di Amerika Serikat) MICHIGAN is an organization that unites the Indonesian community in the Ann Arbor and Ypsilanti area through different annual events and competitions.

This organization includes current students, alumni, and prospective students of the University of Michigan, Eastern Michigan University, Washtenaw Community College as well as Indonesian families that are living in Michigan.

You don't have to be Indonesian to be a part of our group! Invite any of your friends who might be interested in the Indonesian community!

Please do not hesitate to contact any of our admins for inquiries or information. We'll do our best to help you as each and every one of you is important to us!

GO BLUE!
*/